<section class="section donate" id="support">
  {% if include.title != false %}{% assign t = include.title | default: site.data.locale.nav_support %}<h2 class="section-title">{{ t }}</h2>{% endif %}
  <ul class="link-list donate-list">
    {% for item in site.data.donate.items %}
    <li>
      <a href="{{ item.url }}" target="_blank" rel="noopener" class="link-card donate-card">
        {% include icon.html name=item.icon %}
        <span>{{ item.name | escape }}</span>
        {% include icon.html name='external' %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
