<section class="section donate" id="support">
  <h2 class="section-title" data-i18n="nav_support">{{ site.data.locale.ru.nav_support }}</h2>
  <ul class="link-list donate-list">
    {% for item in site.data.donate.items %}
    <li>
      <a href="{{ item.url }}" target="_blank" rel="noopener" class="link-card donate-card">
        {% include icon.html name=item.icon %}
        <span>{{ item.name | escape }}</span>
        <svg class="external-link-icon" viewBox="0 0 24 24" width="16" height="16" fill="currentColor" aria-hidden="true"><path d="M6.343 6.343v1.994l7.899.007-8.606 8.606 1.414 1.414 8.606-8.606.007 7.899h1.994V6.343z"/></svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
