{% if include.style == 'donate' %}
  {% assign _id = 'support' %}
  {% assign _rel = 'noopener' %}
  {% assign _default_title = site.data.locale.nav_support %}
{% else %}
  {% assign _id = 'links' %}
  {% assign _rel = 'noopener me' %}
  {% assign _default_title = site.data.locale.nav_links %}
{% endif %}
<section class="section" id="{{ include.section_id | default: _id }}">
  {% if include.title != false %}{% assign t = include.title | default: _default_title %}<h2 class="section-title">{{ t }}</h2>{% endif %}
  <ul class="link-list{% if include.style == 'donate' %} donate-list{% endif %}">
    {% for item in include.items %}
    <li>
      <a href="{{ item.url | escape }}" target="_blank" rel="{{ _rel }}" class="link-card">
        {% include icon.html name=item.icon %}
        <span>{{ item.name | escape }}</span>
        {% include icon.html name='external' %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
