<section class="section socials" id="links">
  {% if include.title != false %}{% assign t = include.title | default: site.data.locale.nav_links %}<h2 class="section-title">{{ t }}</h2>{% endif %}
  <ul class="link-list">
    {% for item in site.data.social.items %}
    <li>
      <a href="{{ item.url }}" target="_blank" rel="noopener me" class="link-card">
        {% include icon.html name=item.icon %}
        <span>{{ item.name | escape }}</span>
        {% include icon.html name='external' %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
